fastapi
pydantic[dotenv]
psycopg2
alembic
uvicorn[standard]
redis
fastapi-limiter
passlib[bcrypt]
python-jose[cryptography]
libgravatar
fastapi-mail
python-multipart
aioredis
sqlalchemy
cloudinary
uuid
pytest
qrcode
slowapi